.outer {
    display: table;
    margin: 0 auto;
    margin-top: 5%;
}

input {
    border: none;
}

.box {
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
}

select {
    border: none;
    margin-left: auto;
    margin-right: 0;
}